<!DOCTYPE html>
<html>
  <% include partials/header %>
  <body>
    <div class="gradient__container">
      <div class="gradient_45 --<%= song_name %>"></div>
      <div class="gradient_135 --<%= song_name %>"></div>
      <div class="gradient_225 --<%= song_name %>"></div>
      <div class="gradient_315 --<%= song_name %>"></div>
    </div>
    <div class="canvas-container">
      <!-- <video 
        muted nocontrols autoplay 
        src="<%= song_video %>" 
        class="video-layer layer-2" 
        id="layer2">
      </video> -->
      <div 
        class="canvas-layer layer1 hidden" 
        id="layer1">
      </div>
      <!-- <div 
        class="canvas-layer layer2 hidden" 
        id="layer2">
      </div>
      <div 
        class="canvas-layer layer3 hidden" 
        id="layer3">
      </div> -->
    </div>
    <% include partials/framework %>
    <% include partials/scripts %>
  </body>
</html>